body {
	font-family: $font-standard;
}

a {
	&:hover {
		text-decoration: none;
	}
}
ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
img, video {
	max-width: 100%;
	object-fit: cover;
}
section, footer {
	padding: 45px 0;
}
.fog-turned-off {
	&:after {
		opacity: 0;
	}
}
header, section, footer {
	padding: 40px 0;
}
.section-title {
	&__header {
		text-align: center;
		margin-bottom: 0;
		font-size: 24px;
		font-weight: bold;
	}
	margin-bottom: 50px;
}
.btn {
	@include formElement();
	background-color: $blue;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	&:hover {
		color: #fff;
		background-color: lighten($blue, 15%);
	}
}
.inp {
	@include formElement();
	border: 1px solid $blue;
	font-size: 14px;
}

.promo-list {
    &__item {
        display: flex;
        align-items: flex-start;
    }
    &__number {
        font-size: 50px;
        font-weight: bold;
        color: $orange-ease;
        margin-top: -9px;
        margin-bottom: -20px;
        margin-right: 30px;
        text-align: center;
        display: block;
        min-width: 30px;

    }
    &__text {
        font-size: 18px;
        line-height: 21.6px ;
    }
}