body {
}

a {
	&:hover {
		text-decoration: none;
	}
}
ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
img, video {
	max-width: 100%;
}
section, footer {
	padding: 45px 0;
}
.fog-turned-off {
	&:after {
		opacity: 0;
	}
}
.section {
}
.inp {
	padding: 15px 20px;
	border-radius: 0;
	border: 2px solid #bbc1da;
	font-size: 26px;
	&:focus {
		outline: none;
	}
}
.btn {
	padding: 15px;
	border-radius: 5px;
	font-size: 21px;
	&:focus {
		box-shadow: none;
	}
	&:hover {
		color: #fff!important;	
	}
}