@mixin rightFog {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 0;
		box-shadow: 0 0 40px 80px #fff;
		right: 0;
		top: 0;
		z-index: 100;
		transition: 1s;
	}
}

@mixin logoShining($from: -100px , $to: calc(100% + 30px)) {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: $from;
		background-color: #fff;
		transform: skewX(-30deg);
		width: 60px;
		opacity: .6;
		height: 100%;
		transition: .7s ease;
	}
	&:hover:after {
		left: $to;
	}
}