$text-gray: #424a6e;
$text-color: #050b4a;
$electro: #1d7fff;
$gray-line: #ededed;
$gray-bg: #f5f5f5;
$gray-blue: #eff7ff;
$gray-lighter-bg: #fafafa;
$gray-saturate: #a1a1a1;
$gray-enter: #828282;
$dark-blue: #203590;

$container-padding: 12px;